<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url %>);">
  <div class="container">
    <div class="text-center">
      <h1>Mister Cocktail</h1>
      <p><%= @cocktail.name.capitalize %></p>
    </div>
  </div>
</div>
