<nav class="navbar navbar-light bg-light sticky-top d-flex justify-content-between border-bottom">
  <div>
    <span class="navbar-logo"><i class="fas fa-glass-martini-alt"></i></span>
    <%= link_to "Mister Cocktail", cocktails_path, class: "navbar-brand" %>
  </div>

  <!-- to fill the search form if there is a query -->
  <% query = params[:query] || "" %>

  <div class="d-flex align-items-center">
      <div class="d-flex align-items-center mx-3">
        <form action="/cocktails" class="form-inline">
          <input class="form-control mx-2" type="text" name="query" placeholder="Search" value="<%= query %>" id="">
          <input type="submit" value="Find" class="btn btn-outline-success">
        </form>
      </div>
    <div>
      <%= link_to new_cocktail_path, class: "btn btn-outline-primary" do %>
          Add a cocktail
      <% end %>
    </div>
  </div>
</nav>
