<nav class="navbar navbar-light bg-light sticky-top d-flex justify-content-between border-bottom">
  <div>
    <span class="navbar-logo"><i class="fas fa-glass-martini-alt"></i></span>
    <%= link_to "Mister Cocktail", cocktails_path, class: "navbar-brand" %>
  </div>
  <div>
    <%= link_to new_cocktail_path, class: "btn btn-outline-primary" do %>
        Add a cocktail
    <% end %>
  </div>
</nav>
